/* .social_img img
{
    clip-path: polygon(50% 0%, 63% 13%, 100% 13%, 100% 100%, 0 100%, 0 13%, 39% 13%);
} */

li{
    list-style: none;
    display: inline;
    transition: all 1s linear; 
}

a{
    text-decoration: none;   
}

li:hover{
    background:#AAA;
    transition: all 1s linear; 
}

.header .phone::before{
    content:"&amp;#9742;";
    font-size: 15px;
}